<div id="message"></div>
<div id="freeze-modal" class="modal">
    <div class="modal-content">
        <h3>Выберите даты для заморозки</h3>
        <p id="error" class="text-danger"></p>
        <label for="start-date">Дата начала:</label>
        <input type="date" id="start-date">
        <br>
        <label for="end-date">Дата окончания:</label>
        <input type="date" id="end-date">
        <br>
        <button class="sbmt_btn my-3" id="freeze-button">Заморозить</button>
    </div>
</div>